@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply flex flex-col  bg-neutral-900 p-6 rounded-3xl;
  }

  .title {
    @apply flex items-center gap-2 justify-center text-neutral-100 text-2xl mb-4 text-center;
  }

  .title svg {
    @apply text-orange-500;
  }
}

.main {
  width: 90%;
  max-width: 600px;
  position: absolute;
  transform: translate(-50%, -30%);
}
