@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --hue: 35;

  /* Colors */
  /* hsl(hue, saturation, lightness) */
  --primary-color: hsl(var(--hue), 100%, 50%);
  --primary-color-dark: hsl(var(--hue), 100%, 25%);
  --light-color: hsl(0, 0%, 90%);
  --gray-color: hsl(0, 0%, 30%);
  --dark-color: hsl(0, 0%, 15%);

  /* Text Colors */
  --text-colored: hsl(var(--hue), 100%, 50%);
  --text-color: hsl(0, 0%, 15%);
  --text-light-color: hsl(0, 0%, 30%);

  /* Bg colors */
  --bg-light-color: hsl(0, 0%, 90%);
  --bg-half-color: hsl(0, 0%, 30%);
  --bg-color: hsl(0, 0%, 15%);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

@layer components {
  body {
    @apply dark:bg-neutral-800 dark:text-neutral-400 bg-neutral-300 text-neutral-600;
  }
}
